# Node dependencies
node_modules/
frontend/node_modules/
backend/node_modules/

# Angular cache and builds
.angular/
frontend/.angular/
frontend/dist/
frontend/.angular/cache/

# Environment variables
.env
backend/.env

# OS files
.DS_Store
Thumbs.db
