<div class="blog-detail-container" *ngIf="blog; else loading">
  <button class="back-btn" routerLink="/blog">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m15 18-6-6 6-6"/></svg>
    الرجوع للمقالات
  </button>

  <article class="blog-article">
    <div class="article-header">
      <div class="article-meta">
        <span class="category-badge">{{ blog.category }}</span>
        <span class="publish-date">{{ blog.createdAt | date:'longDate' }}</span>
      </div>
      
      <h1 class="article-title">{{ blog.title }}</h1>
      
      <div class="author-profile" *ngIf="blog.author">
        <div class="author-avatar-large">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"/><circle cx="12" cy="7" r="4"/></svg>
        </div>
        <div class="author-details">
          <span class="author-name">{{ blog.author.email.split('@')[0] }}</span>
          <span class="author-role">كاتب</span>
        </div>
      </div>
    </div>

    <div class="article-image-container" *ngIf="blog.image">
      <img [src]="blog.image" [alt]="blog.title" class="article-main-image">
    </div>

    <div class="article-content">
      <p class="content-text">{{ blog.content }}</p>
    </div>
    
    <div class="article-tags" *ngIf="blog.tags && blog.tags.length">
      <span class="tag" *ngFor="let tag of blog.tags">#{{ tag }}</span>
    </div>
  </article>
</div>

<ng-template #loading>
  <div class="loading-state full-page">
    <div class="spinner"></div>
    <p>جاري تحميل المقال...</p>
  </div>
</ng-template>